server {
    listen 80 default_server;
    server_name _;
    server_name_in_redirect off;
    access_log  /var/log/nginx/access.log;
    error_log  /var/log/nginx/error.log debug;
    location /dev {
        include /etc/nginx/conf.d/corsheaders.conf;
        rewrite /dev/(.*) /$1  break;
        proxy_pass http://host.docker.internal:5000;
    }
#     location /qa {
#         rewrite /foo/(.*) /$1  break;
#         include /etc/nginx/conf.d/corsheaders.conf;
#         proxy_pass https://<qa-url>;
#     }
#     location /production {
#         rewrite /foo/(.*) /$1  break;
#         include /etc/nginx/conf.d/corsheaders.conf;
#         proxy_pass http://<prod-url>;
#     }
}
